form *{
outline: 0 none;
padding: 0px;
margin: 0px;
letter-spacing: 1px;
font-family: inherit;
}

#canvas,
#canvas *,
#canvas *:before,
#canvas *:after{
-moz-box-sizing: border-box !important; 
-webkit-box-sizing: border-box !important; 
box-sizing: border-box !important;
}

input::-moz-focus-inner { border:0; padding:0 }

.clearfix:after{ 
content: "\00A0"; 
display: block; 
clear: both; 
visibility: hidden; 
line-height: 0; 
height: 0;
width:0;
font-size: 0px;
}

.clearfix{ 
display: inline-block;
}

html[xmlns] .clearfix { 
display: block;
}

* html .clearfix{ 
height: 1%;
}

.clearfix {
display: block;
zoom: 1; 
}

/*------------------------ Start Jquery UI ----------------------------------------*/
.ui-spinner.ui-widget{
height: auto !important;
}

.ui-buttonset .ui-button {
margin-right: 0;
float: left;
}
/*------------------------ End Jquery UI ----------------------------------------*/

/*------------------------ Start TINYMCE ----------------------------------------*/
.mce-floatpanel{
	z-index: 999999 !important;
}
/*------------------------ End TINYMCE ----------------------------------------*/



textarea{
padding: 6px;
}

input{
padding: 6px;
}

input[type="file"]{
padding: 2px;
}

#canvas select {
padding: 5px 6px;
height: auto;
}

select option{
margin: 6px;
}

textarea{
position: relative;
}

textarea, input, select {
font-size: inherit;
font-weight: inherit;
margin: 1px;
outline: 0 none;
}

input[type="checkbox"], 
input[type="radio"]{
padding: 0;
vertical-align: top;
}

#container{
display: inline-table; /*-- do not change this line--*/
}

#canvas{
display: table;  /*-- do not change this line--*/
font-size: 14px;
background-color: #FFFFFF;
color: #464646;
padding: 5px 0;
}

input[type="file"]{
background-color: #FFFFFF;
}

#canvas .error-message{
background: none repeat scroll 0 0 #E65E5E;
border: 1px solid #FF0000;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 3px #E15353;
clear: both;
color: #FFFFFF;
display: inline-block;
margin-top: 3px;
padding: 5px;
position: relative;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

#canvas .error-message .arrow {
width: 30px;
height: 10px;
overflow: hidden;
position: absolute;
left: 50%;
bottom: -16px;
margin-left: 0;
}

#canvas .error-message .arrow.top {
top: -16px;
bottom: auto;
}
#canvas .error-message .arrow.left {
left: 0%;
top: -10px;
}
#canvas .error-message .arrow:after {
background: none repeat scroll 0 0 #E65E5E;
border: 1px solid #FF0000;
content: "";
position: absolute;
top: -20px;
width: 20px;
left: 10px;
height: 20px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}

#canvas .error-message .arrow.top:after {
bottom: -14px;
top: auto;
}

#canvas .error{
border: 1px solid red !important;
}

#canvas input.error,
#canvas select.error,
#canvas textarea.error,
#canvas .guif-dropzone.error{
border: 1px solid #E15353;
box-shadow: 0 0 3px #E15353;
background: #FFD5D6;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

#canvas p.error{
color: red;
border: none;
padding-top: 5px;
clear: both;
}

#canvas .error .ui-spinner-button{
border-left: 1px solid red;	
}

.ui-buttonset.error .ui-state-default, 
.ui-buttonset.error .ui-widget-content .ui-state-default, 
.ui-buttonset.error .ui-widget-header .ui-state-default{
border: 1px solid #E15353;
box-shadow: 0 0 3px #E15353;	
}

#canvas .ui-spinner.error{
box-shadow: 0 0 3px #E15353;
background: #FFD5D6 	
}

#canvas .ui-buttonset.error,
#canvas .ui-spinner-input.error{
border: none;	
box-shadow: none;
}

#canvas #containment{
margin-right: 10px;
padding: 10px;
}

#canvas ul.ui-sortable{
background: none;
border: none;
display: inherit;
list-style: none outside none;
}

#canvas ul ul{
padding: 0;
min-height: auto;
min-height: auto;
}

#canvas .ui-sortable li.ui-state-highlight{
background: #F8FFF0;
border: 1px dashed green;
color: #363636;
position: relative;
z-index: 0;
display: inline-table;
padding: 5px 15px;
}

#canvas .active{
background: #EAEAEA;
width: auto;
border: 1px solid #CCCCCC;
}

#canvas .selected{
background: #FFFBCC;
width: auto;
border: 1px solid #E6DB55;
}

#canvas li{
border: 1px solid transparent;
cursor: move;
clear: both;
padding: 5px 10px;
}

#canvas li:hover{
border: 1px solid #CCCCCC;
}

#canvas li .label{
display: inline-block;
float: left;
margin-right: 5px;
font-weight: bold;
line-height: 23px;
width: 150px;
}

#canvas li .label span{
margin-left: 2px;
}

/*-- BEGIN f_list style --*/
#canvas .f_list li{
padding: 3px 0;
}

#canvas .f_list li a{
color:#0074A2;
text-decoration: none;
}

#canvas .f_list li a:hover{
color: blue;
text-decoration: underline;
}

#canvas .f_list ul{
list-style-type: disc;
list-style-position: outside;
padding-left: 35px;
}

#canvas .f_list ul.disc{
list-style-type: disc;
}

#canvas .f_list ul.square{
list-style-type: square;
}

#canvas .f_list ul.circle{
list-style-type: circle;
}

#canvas .f_list ul.decimal{
list-style-type: decimal;
}

#canvas .f_list ul.decimal-leading-zero{
list-style-type: decimal-leading-zero;
}

#canvas .f_list ul.lower-roman{
list-style-type: lower-roman;
}

#canvas .f_list ul.upper-roman{
list-style-type: upper-roman;
}

#canvas .f_list ul.lower-greek{
list-style-type: lower-greek;
}

#canvas .f_list ul.lower-alpha{
list-style-type: lower-alpha;
}

#canvas .f_list ul.upper-alpha{
list-style-type: upper-alpha;
}

#canvas .f_list ul.hiragana{
list-style-type: hiragana;
}

#canvas .f_list ul.katakana{
list-style-type: katakana;
}

/*-- END f_list style --*/

#canvas .f_heading *{
line-height: normal;
}

#canvas .f_heading .sub-text{
font-weight: normal;
line-height: normal;
}

#canvas .f_letter p{
margin: 0 0 13px;
line-height: 20px;
font-size: inherit;
}

#canvas .f_letter p:last-of-type{
margin-bottom: 0;
}

#canvas .button-wrap{
	text-align: right;
}

/*-- BEGIN f_radio_wrap f_checkbox_wrap style --*/
#canvas .wrap,
#canvas .f_radio_wrap,
#canvas .f_checkbox_wrap{
clear: both;
display: inline-table;
margin: 0;
}

#canvas .f_radio_wrap,
#canvas .f_checkbox_wrap{
padding: 0;
}

#canvas .f_radio_wrap input,
#canvas .f_checkbox_wrap input{
	border: none;
}

#canvas .f_radio_wrap span,
#canvas .f_checkbox_wrap span{
margin-left: 5px;
width: 130px;
display: inline-block;
}

/*-- END f_radio_wrap f_checkbox_wrap style --*/


#canvas .f_submit_wrap{
display: block;
}

#canvas .wrap span.ui-button-text{
line-height: normal;
padding: 8px 15px;
}

#canvas .merge{
padding: 0;	
}

#canvas .merge-item{
display: block;
padding: 5px 0px;	
margin: 1px 0;
}

#canvas .merge-item.active{
border: medium none;	
background-color: #70c468;
}

#canvas .shrink .wrap .switch label {
display: inline-block;
margin-left: 0;
}

#canvas li .required{
color: #FF0000;
font-family: Tahoma !important;
font-size: 21px;
margin-left: 5px;
vertical-align: top;
}

#canvas input[type="text"],
#canvas input[type="file"],
#canvas input[type="password"],
#canvas select,
#canvas textarea{
width: 100%;
border-radius: 0px;
margin: 0px;
position: inherit;
box-shadow: none;
color: #AAAAAA;
transition: all 0.3s ease-in-out 0s;
}

#canvas input:focus,
#canvas select:focus,
#canvas textarea:focus{
border: 1px solid #000000;
color: #000000;
}

/*-- BEGIN f_file --*/

#canvas .guif-dropzone{
background-color: #E47E25;
background: linear-gradient(to top, #E47E25 0%, #DD5725 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #854E03;
color: #FFFFFF;
position: relative;
text-align: center;
font-weight: bold;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
overflow: hidden;
padding: 7px 10px;
line-height: normal;
}

#canvas .guif-dropzone.drop{
background-color: #FAA732;
background: linear-gradient(to top, #FAA732, #E08305) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #D58512;
}

#canvas .guif-dropzone:hover{
background-color: #BCBA35;
background: linear-gradient(to top, #BCBA35, #999620) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #D58512;
cursor: pointer;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
}

#canvas .guif-dropzone input[type="file"]{
position: absolute;
top: 0;
right: 0;
opacity: 0;
filter: alpha(opacity=0);
font-size: 200px;
width: 250%;
}

#canvas .f_file .gui-files{
clear: both;
display: table;
width: 100%;
}

#canvas .f_file .gui-file{
border-radius: 3px 3px 3px 3px;
position: relative;
border: 1px solid #4CAE4C;
overflow: hidden;
margin-top: 10px;
}

#canvas .f_file .gui-file:hover{
color: #333333;	
border: 1px solid red;
}

#canvas .f_file .gui-file-remove{
color: #FF0000;
display: none;
font-size: 22px !important;
padding: 2px 15px !important;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

#canvas .f_file .gui-file:hover .gui-file-remove{
background-color: #FF0000;
bottom: 0;
color: #FFFFFF;
display: inline-block;
font-size: 16px;
font-weight: bold;
padding: 2px 10px;
position: absolute;
right: 0;
top: 0;
cursor: pointer;
}

#canvas .f_file .gui-file:hover .gui-file-remove.cancel{
font-size: 14px;	
}

#canvas .f_file .gui-file-bar{
border-radius: 3px 3px 3px 3px;
bottom: 0;
left: 0;
position: absolute;
background: none repeat scroll 0 0 #5CB85C;
background: linear-gradient(center top, #5CB85C, #008000) repeat scroll 0 0 #5CB85C;
top: 0;
}

#canvas .f_file .gui-file-bar.success{
width: 100% !important;
background: none repeat scroll 0 0 #00BF00;
background: linear-gradient(center top, #00BF00, #008000) repeat scroll 0 0 #00BF00;
}

#canvas .f_file .gui-file-bar.error{
width: 0%;
}

#canvas .f_file .gui-file-wrap{	
background: none repeat scroll 0 0 #E65E5E;
border-radius: 3px;
padding: 7px;
}

#canvas .f_file .gui-file-name{
max-width: 65%;
overflow: hidden;
float: left;
position: relative;
}

#canvas .f_file .gui-file-size,
#canvas .f_file .gui-file-error{
float: right;
position: relative;
}

/*-- END f_file style --*/


/*-- BEGIN f_password style --*/
#canvas select,
#canvas input[type="password"]{
width: 100%;
}


#canvas .guif-password{
font-size: 13px;
margin-top: 5px;
}

#canvas .guif-password span{
display: inline !important;
font-weight: bold;
}

#canvas .guif-password .progress{
background-color: #CCCCCC;
height: 6px;
margin-top: 2px;
overflow: hidden;
}

#canvas .guif-password .strength{
height: 10px;
width: 0;
}

#canvas .guif-password span:first-child{
color: #0066FF;
float: left;
text-decoration: underline;
}

#canvas .guif-password span.text{
float: right;
color: #555555;
}

#canvas .guif-password .progress span{
float: none;
clear: both;
}
/*-- end f_password style --*/

#canvas button,
.sp-container button{
background-color: #21759B;
background-image: linear-gradient(to bottom, #2A95C5, #21759B);
border-color: #21759B #21759B #1E6A8D;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
cursor: pointer;
padding: 8px 22px;
font-size: 14px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
line-height: 18px;
font-weight: bold;
transition: all 0.3s ease-in-out 0s;
}

#canvas button[type="reset"]{
background: none repeat scroll 0 0 #F7F7F7;
border-color: #555555;
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);
color: #555555;
vertical-align: top;
margin-right: 5px;
margin-bottom: 10px;
}

#canvas button[type="reset"]:hover,
#canvas button[type="reset"]:active{
background: none repeat scroll 0 0 #EEEEEE;
border-color: #999999;
box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.5) inset;
color: #333333;
}

#canvas button[type="submit"]:active,
#canvas input[type="button"]:active,
#canvas button[type="submit"]:hover,
#canvas input[type="button"]:hover
.sp-container button:active,
button:active{
background: none repeat scroll 0 0 #1E8CBE;
border-color: #005684;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
color: rgba(255, 255, 255, 0.95);
vertical-align: top;
}

#canvas button[type="submit"].disabled{
background-color: #AAAAAA;
background-image: linear-gradient(to bottom, #AAAAAA, #DDDDDD);
}

body#GuiForm textarea{
resize: vertical;
}

#canvas textarea{
position: relative;
z-index: 0;
height: 150px;
overflow: auto;
min-height: 100px;
}

#canvas .shrink,
#canvas li.top-align{
display: inline-block;
clear: none;
float: none;
}

#canvas .shrink .label,
#canvas li.top-align .label{
display: block;
width: 100%;
float: none;
}

#canvas .shrink .wrapper label{
display: inline;
width: 100%;
float: none;
}

#canvas .blockLine{
float: none;
clear: both;
}

#canvas .floatLine{
display: inline-block;
float: left;
clear: none;
}

#canvas .merge-item{
padding: 5px 10px;
}

#canvas li.merge .floatLine:first-child,
#canvas li.merge .floatLine.nextLine{
margin-left: 0px;
}

#canvas .nextLine{
clear: both;
}

#canvas .expand .wrap{
clear: none;
float: left;
}

#canvas .f_letter .wrap,
#canvas .f_heading .wrap,
#canvas .f_list .wrap{
display: block !important;
float: none !important;
}

#canvas .short-description{
font-size: 14px;
padding: 0;
margin: 3px 0;
}

#canvas .ui-spinner-input{
border: medium none;
padding: 3px 20px 3px 3px;
background-color: #FFFFFF;
}

/*------------------------ End canvas ----------------------------------------*/

body#GuiForm,
body#GuiForm #containment{
margin: 0px;
padding: 0px;
border: medium none;
}

body#GuiForm #canvas{
height: auto !important;
margin: auto;
width: 0;
}

body#GuiForm #canvas ul#sortable{
margin: 0px !important;
padding: 0px !important;
list-style: none outside none;
}

body#GuiForm #canvas li{
cursor: inherit;
}

body#GuiForm #canvas li:hover{
border: 1px solid transparent;
cursor: inherit;
}

/*-Start Animate CSS------------------------------------*/

.gui-file.selected{
opacity: 0;	
color: #333333;
background-color: #3A87AD !important;
}

.gui-file.restored-item {
color: #FFFFFF;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-webkit-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-moz-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-o-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes restored-item-animation {
  from {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
 
  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}


.gui-file.removed-item {
animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
 
  to {
    opacity: 0;
    transform: scale(0);
  }
}
 
/*------------------------ Start Tooltip CSS ----------------------------------------*/
.ui-tooltip, .arrow:after {
background: none repeat scroll 0 0 #E65E5E;
border: 1px solid #FF0000 !important;
}

.ui-tooltip{
padding: 8px 10px;
color: #FFFFFF;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 5px;
font: normal 12px "Helvetica Neue", Sans-Serif;
box-shadow: 0 0 7px black;
}

.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}

.arrow.top {
top: -16px;
bottom: auto;
}

.arrow.left {
left: 20%;
}

.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}

.arrow.top:after {
bottom: -20px;
top: auto;
}

@import "print.css";  