
/* Phone Portrait (260px) */
@media all and (max-width: 260px) {
	
  #GuiForm #canvas{
		width: 100% !important;
	}
	
	#canvas .floatLine,
	#GuiForm textarea,
	#GuiForm input[type="text"],
	#GuiForm input[type="password"],
	#GuiForm input[type="file"],
	#GuiForm select,
	#GuiForm .wrap,
	#GuiForm .floatLine .wrap span,
	#GuiForm .label{
		width: 100% !important;
		display: block;
	}
	
	#GuiForm .merge .item{
		margin-left: 0;
	}
}


@media all and (min-width: 261px) and (max-width: 500px){
	
	#GuiForm textarea,
	#GuiForm #canvas,
	#GuiForm .blockLine{
		width: 100% !important;
	}
	
	#GuiForm li.merge .floatLine{
		width: 46% !important;
	}
	
	#GuiForm li.floatLine{
		width: 50% !important;
		display: inline-block !important;
	}
	
	#GuiForm li.f_radio.floatLine,
	#guiForm li.f_checkbox.floatLine{
		width: 50% !important;
	}
	
	#GuiForm li.f_radio.floatLine span,
	#GuiForm li.f_checkbox.floatLine span{
		width: 100% !important;
	}
	
	#GuiForm li.floatLine .wrap{
		width: 100% !important;
	}
}


@media all and (min-width: 261px) and (max-width: 300px){
	#GuiForm li.blockLine .wrap{
		width: 100% !important;
	}
}