
/* 240 x 320 (small phone) */
@media all and (max-width: 320px){
	
  #GuiForm #canvas{
		width: 100% !important;
	}
	
	#GuiForm h1{
		font-size: 21px;
	}
	
	#canvas .floatLine,
	#GuiForm textarea,
	#GuiForm input[type="text"],
	#GuiForm input[type="password"],
	#GuiForm input[type="file"],
	#GuiForm select,
	#GuiForm .wrap,
	#GuiForm .label,
	#GuiForm .blockLine.shrink.label,
	#GuiForm .blockLine.shrink.wrap,
	#canvas .f_radio_wrap label, 
	#canvas .f_checkbox_wrap label{
		width: 100% !important;
		display: block;
	}
	
	#canvas br{
	display: none;
	}
	
	#canvas .f_radio_wrap span, 
	#canvas .f_checkbox_wrap span{
		width: 86% !important;
	}
	
	#GuiForm .merge .item{
		margin-left: 0;
	}
	
	#canvas .error-message{
		width: 100% !important;
	}
}

/* 320 x 480 (iPhone) */
/* 480 x 640 (small tablet) */
@media all and (min-width: 320px) and (max-width: 640px){
	
  #GuiForm #canvas{
		width: 100% !important;
	}
	
	#GuiForm h1{
		font-size: 21px;
	}
	
	/* blockLine element */
	#GuiForm .blockLine.shrink.label,
	#GuiForm .blockLine.shrink.wrap,
	#GuiForm .item.f_letter div.wrap,
	#GuiForm .item.f_textarea,
	#GuiForm .item.f_textarea textarea,
	#GuiForm .item.f_textarea label.label,
	#GuiForm .item.f_textarea div.wrap,
	#canvas .item.f_list div.wrap,
	#canvas .f_radio_wrap label, 
	#canvas .f_checkbox_wrap label,
	#canvas .f_radio.blockLine.shrink .f_checkbox_wrap, 
	#canvas .f_checkbox.blockLine.shrink .f_checkbox_wrap{
		width: 100%;
	}
	
	#GuiForm .item.blockLine .label{
		width: 35%;
	}
	
	#GuiForm .item.blockLine .wrap{
		width: 64%;
	}
	
	/* floatLine element */
	#GuiForm .item.floatLine{
		width: 50% !important;
	}
	
	#GuiForm .item.floatLine input[type="text"],
	#GuiForm .item.floatLine input[type="file"],
	#GuiForm .item.floatLine input[type="password"],
	#GuiForm .item.floatLine select,
	#GuiForm .item.floatLine .label,
	#GuiForm .item.floatLine .wrap,
	#GuiForm .item.f_heading .wrap{
		width: 100% !important;
	}
	
	#GuiForm .merge .item{
		margin-left: 0;
	}
	
	#GuiForm .wrap{
		width: 50%;
	}
	
	#canvas .f_radio.floatLine.shrink span, 
	#canvas .f_checkbox.floatLine.shrink span{
		width: 84%;
	}
	
	#canvas .f_radio.blockLine.shrink span, 
	#canvas .f_checkbox.blockLine.shrink span{
		width: 92%;
	}
	
	#canvas .error-message{
		width: 100%;
	}
}

@media all and (max-width: 400px){
	#GuiForm #canvas .floatLine.f_list,
	#GuiForm #canvas .floatLine.f_list .wrap{
		width: 100% !important;
		display: block !important;
	}
}

