@charset "UTF-8";

@font-face {
font-family: "guiform";
src:url("guiform.eot");
src:url("guiform.eot?#iefix") format("embedded-opentype"),
  url("guiform.woff") format("woff"),
  url("guiform.ttf") format("truetype"),
  url("guiform.svg#guiform") format("svg");
}

#canvas [data-icon]:before,
[data-icon]:before{
font-family: guiform !important;
font-variant: normal !important;
text-transform: none !important;
content: attr(data-icon);
speak: none;
font-style: normal;
vertical-align: middle;
font-weight: normal;
line-height: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
font-family: guiform !important;
font-variant: normal !important;
text-transform: none !important;
content: attr(data-icon);
speak: none;
vertical-align: middle;
font-style: normal;
font-weight: normal;
line-height: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}