@charset "UTF-8";

@font-face {
  font-family: "guiform";
  src:url("guiform.eot");
  src:url("guiform.eot?#iefix") format("embedded-opentype"),
    url("guiform.woff") format("woff"),
    url("guiform.ttf") format("truetype"),
    url("guiform.svg#guiform") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "guiform" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "guiform" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e000";
}
.icon-cancel-circled:before {
  content: "\e001";
}
.icon-cancel-squared:before {
  content: "\e002";
}
.icon-x:before {
  content: "\e003";
}
.icon-fontawesome-webfont:before {
  content: "\e004";
}
.icon-fontawesome-webfont-1:before {
  content: "\e005";
}
.icon-arrows-in:before {
  content: "\e006";
}
.icon-asl:before {
  content: "\e007";
}
.icon-arrows-out:before {
  content: "\e008";
}
.icon-mail:before {
  content: "\e009";
}
.icon-save:before {
  content: "\e00a";
}
.icon-wrench:before {
  content: "\e00b";
}
.icon-widget:before {
  content: "\e00c";
}
.icon-x-circle:before {
  content: "\e00d";
}
.icon-unlink:before {
  content: "\e00e";
}
.icon-align-center:before {
  content: "\e00f";
}
.icon-align-justify:before {
  content: "\e010";
}
.icon-align-left:before {
  content: "\e011";
}
.icon-align-right:before {
  content: "\e012";
}
.icon-asterisk:before {
  content: "\e013";
}
.icon-fontawesome-webfont-2:before {
  content: "\e014";
}
.icon-lock:before {
  content: "\e015";
}
.icon-graph:before {
  content: "\e016";
}
.icon-grid:before {
  content: "\e017";
}
.icon-pencil:before {
  content: "\e018";
}
.icon-refresh:before {
  content: "\e019";
}
.icon-at-sign:before {
  content: "\e01a";
}
.icon-dollar:before {
  content: "\e01b";
}
.icon-fontawesome-webfont-3:before {
  content: "\e01c";
}
.icon-fontawesome-webfont-4:before {
  content: "\e01d";
}
.icon-fontawesome-webfont-5:before {
  content: "\e01e";
}
.icon-star-empty:before {
  content: "\e01f";
}
.icon-star:before {
  content: "\e020";
}
.icon-pen:before {
  content: "\e021";
}
.icon-calendar:before {
  content: "\e022";
}
.icon-data:before {
  content: "\e023";
}
.icon-code-html-file-1:before {
  content: "\e024";
}
.icon-fontawesome-webfont-6:before {
  content: "\e025";
}
.icon-brush:before {
  content: "\e026";
}
.icon-fontawesome-webfont-7:before {
  content: "\e027";
}
.icon-eye:before {
  content: "\e028";
}
.icon-fontawesome-webfont-8:before {
  content: "\e029";
}
.icon-fontawesome-webfont-9:before {
  content: "\e02a";
}
.icon-fontawesome-webfont-10:before {
  content: "\e02b";
}
.icon-letter-mail-1:before {
  content: "\e02c";
}
.icon-fontawesome-webfont-11:before {
  content: "\e02d";
}
.icon-fontawesome-webfont-12:before {
  content: "\e02e";
}
.icon-fontawesome-webfont-13:before {
  content: "\e02f";
}
.icon-fontawesome-webfont-14:before {
  content: "\e030";
}
.icon-fontawesome-webfont-15:before {
  content: "\e031";
}
.icon-fontawesome-webfont-16:before {
  content: "\e032";
}
.icon-fontawesome-webfont-17:before {
  content: "\e033";
}
.icon-fontawesome-webfont-18:before {
  content: "\e034";
}
.icon-fontawesome-webfont-19:before {
  content: "\e035";
}
.icon-fontawesome-webfont-20:before {
  content: "\e036";
}
.icon-fontawesome-webfont-21:before {
  content: "\e037";
}
.icon-fontawesome-webfont-22:before {
  content: "\e038";
}
.icon-fontawesome-webfont-23:before {
  content: "\e039";
}
.icon-fontawesome-webfont-24:before {
  content: "\e03a";
}
.icon-fontawesome-webfont-25:before {
  content: "\e03b";
}
.icon-fontawesome-webfont-26:before {
  content: "\e03c";
}
.icon-fontawesome-webfont-27:before {
  content: "\e03d";
}
.icon-fontawesome-webfont-28:before {
  content: "\e03e";
}
.icon-fontawesome-webfont-29:before {
  content: "\e03f";
}
.icon-fontawesome-webfont-30:before {
  content: "\e040";
}
.icon-fontawesome-webfont-31:before {
  content: "\e041";
}
.icon-fontawesome-webfont-32:before {
  content: "\e042";
}
.icon-fontawesome-webfont-33:before {
  content: "\e043";
}
.icon-fontawesome-webfont-34:before {
  content: "\e044";
}
.icon-fontawesome-webfont-35:before {
  content: "\e045";
}
.icon-fontawesome-webfont-36:before {
  content: "\e046";
}
.icon-fontawesome-webfont-37:before {
  content: "\e047";
}
.icon-fontawesome-webfont-38:before {
  content: "\e048";
}
.icon-fontawesome-webfont-39:before {
  content: "\e049";
}
.icon-fontawesome-webfont-40:before {
  content: "\e04a";
}
.icon-fontawesome-webfont-41:before {
  content: "\e04b";
}
.icon-fontawesome-webfont-42:before {
  content: "\e04c";
}
.icon-fontawesome-webfont-43:before {
  content: "\e04d";
}
.icon-fontawesome-webfont-44:before {
  content: "\e04e";
}
.icon-fontawesome-webfont-45:before {
  content: "\e04f";
}
.icon-fontawesome-webfont-46:before {
  content: "\e050";
}
.icon-fontawesome-webfont-47:before {
  content: "\e051";
}
.icon-fontawesome-webfont-48:before {
  content: "\e052";
}
.icon-fontawesome-webfont-49:before {
  content: "\e053";
}
.icon-fontawesome-webfont-50:before {
  content: "\e054";
}
.icon-fontawesome-webfont-51:before {
  content: "\e055";
}
.icon-fontawesome-webfont-52:before {
  content: "\e056";
}
.icon-fontawesome-webfont-53:before {
  content: "\e057";
}
.icon-fontawesome-webfont-54:before {
  content: "\e058";
}
.icon-fontawesome-webfont-55:before {
  content: "\e059";
}
.icon-fontawesome-webfont-56:before {
  content: "\e05a";
}
.icon-fontawesome-webfont-57:before {
  content: "\e05b";
}
.icon-fontawesome-webfont-58:before {
  content: "\e05c";
}
.icon-fontawesome-webfont-59:before {
  content: "\e05d";
}
.icon-fontawesome-webfont-60:before {
  content: "\e05e";
}
.icon-fontawesome-webfont-61:before {
  content: "\e05f";
}
.icon-fontawesome-webfont-62:before {
  content: "\e060";
}
.icon-fontawesome-webfont-63:before {
  content: "\e061";
}
.icon-fontawesome-webfont-64:before {
  content: "\e062";
}
.icon-fontawesome-webfont-65:before {
  content: "\e063";
}
.icon-fontawesome-webfont-66:before {
  content: "\e064";
}
.icon-fontawesome-webfont-67:before {
  content: "\e065";
}
.icon-fontawesome-webfont-68:before {
  content: "\e066";
}
.icon-fontawesome-webfont-69:before {
  content: "\e067";
}
.icon-fontawesome-webfont-70:before {
  content: "\e068";
}
.icon-fontawesome-webfont-71:before {
  content: "\e069";
}
.icon-fontawesome-webfont-72:before {
  content: "\e06a";
}
.icon-fontawesome-webfont-73:before {
  content: "\e06b";
}
.icon-fontawesome-webfont-74:before {
  content: "\e06c";
}
.icon-fontawesome-webfont-75:before {
  content: "\e06d";
}
.icon-fontawesome-webfont-76:before {
  content: "\e06e";
}
.icon-fontawesome-webfont-77:before {
  content: "\e06f";
}
.icon-fontawesome-webfont-78:before {
  content: "\e070";
}
.icon-fontawesome-webfont-79:before {
  content: "\e071";
}
.icon-fontawesome-webfont-80:before {
  content: "\e072";
}
.icon-fontawesome-webfont-81:before {
  content: "\e073";
}
.icon-fontawesome-webfont-82:before {
  content: "\e074";
}
.icon-fontawesome-webfont-83:before {
  content: "\e075";
}
.icon-fontawesome-webfont-84:before {
  content: "\e076";
}
.icon-fontawesome-webfont-86:before {
  content: "\e078";
}
.icon-fontawesome-webfont-87:before {
  content: "\e079";
}
.icon-fontawesome-webfont-88:before {
  content: "\e07a";
}
.icon-fontawesome-webfont-89:before {
  content: "\e07b";
}
.icon-fontawesome-webfont-90:before {
  content: "\e07c";
}
.icon-fontawesome-webfont-91:before {
  content: "\e07d";
}
.icon-fontawesome-webfont-92:before {
  content: "\e07e";
}
.icon-fontawesome-webfont-93:before {
  content: "\e07f";
}
.icon-fontawesome-webfont-94:before {
  content: "\e080";
}
.icon-fontawesome-webfont-95:before {
  content: "\e081";
}
.icon-fontawesome-webfont-96:before {
  content: "\e082";
}
.icon-fontawesome-webfont-97:before {
  content: "\e083";
}
.icon-fontawesome-webfont-98:before {
  content: "\e084";
}
.icon-fontawesome-webfont-99:before {
  content: "\e085";
}
.icon-fontawesome-webfont-100:before {
  content: "\e086";
}
.icon-fontawesome-webfont-101:before {
  content: "\e087";
}
.icon-fontawesome-webfont-102:before {
  content: "\e088";
}
.icon-fontawesome-webfont-103:before {
  content: "\e089";
}
.icon-fontawesome-webfont-104:before {
  content: "\e08a";
}
.icon-fontawesome-webfont-105:before {
  content: "\e08b";
}
.icon-fontawesome-webfont-106:before {
  content: "\e08c";
}
.icon-fontawesome-webfont-107:before {
  content: "\e08d";
}
.icon-fontawesome-webfont-110:before {
  content: "\e090";
}
.icon-fontawesome-webfont-111:before {
  content: "\e091";
}
.icon-fontawesome-webfont-112:before {
  content: "\e092";
}
.icon-fontawesome-webfont-113:before {
  content: "\e093";
}
.icon-fontawesome-webfont-114:before {
  content: "\e094";
}
.icon-fontawesome-webfont-115:before {
  content: "\e095";
}
.icon-fontawesome-webfont-116:before {
  content: "\e096";
}
.icon-fontawesome-webfont-117:before {
  content: "\e097";
}
.icon-fontawesome-webfont-118:before {
  content: "\e098";
}
.icon-fontawesome-webfont-119:before {
  content: "\e099";
}
.icon-fontawesome-webfont-120:before {
  content: "\e09a";
}
.icon-fontawesome-webfont-122:before {
  content: "\e09c";
}
.icon-fontawesome-webfont-123:before {
  content: "\e09d";
}
.icon-fontawesome-webfont-124:before {
  content: "\e09e";
}
.icon-fontawesome-webfont-125:before {
  content: "\e09f";
}
.icon-fontawesome-webfont-126:before {
  content: "\e0a0";
}
.icon-fontawesome-webfont-127:before {
  content: "\e0a1";
}
.icon-fontawesome-webfont-128:before {
  content: "\e0a2";
}
.icon-fontawesome-webfont-129:before {
  content: "\e0a3";
}
.icon-fontawesome-webfont-85:before {
  content: "\e077";
}
.icon-fontawesome-webfont-130:before {
  content: "\e0a4";
}
.icon-fontawesome-webfont-131:before {
  content: "\e0a5";
}
.icon-fontawesome-webfont-132:before {
  content: "\e0a6";
}
.icon-fontawesome-webfont-134:before {
  content: "\e0a8";
}
.icon-fontawesome-webfont-135:before {
  content: "\e0a9";
}
.icon-fontawesome-webfont-136:before {
  content: "\e0aa";
}
.icon-fontawesome-webfont-139:before {
  content: "\e0ad";
}
.icon-fontawesome-webfont-141:before {
  content: "\e0af";
}
.icon-fontawesome-webfont-142:before {
  content: "\e0b0";
}
.icon-fontawesome-webfont-143:before {
  content: "\e0b1";
}
.icon-fontawesome-webfont-144:before {
  content: "\e0b2";
}
.icon-fontawesome-webfont-145:before {
  content: "\e0b3";
}
.icon-fontawesome-webfont-109:before {
  content: "\e08f";
}
.icon-fontawesome-webfont-147:before {
  content: "\e0b5";
}
.icon-fontawesome-webfont-148:before {
  content: "\e0b6";
}
.icon-fontawesome-webfont-151:before {
  content: "\e0b9";
}
.icon-fontawesome-webfont-152:before {
  content: "\e0ba";
}
.icon-fontawesome-webfont-154:before {
  content: "\e0bc";
}
.icon-fontawesome-webfont-156:before {
  content: "\e0be";
}
.icon-fontawesome-webfont-159:before {
  content: "\e0c1";
}
.icon-fontawesome-webfont-161:before {
  content: "\e0c3";
}
.icon-fontawesome-webfont-162:before {
  content: "\e0c4";
}
.icon-fontawesome-webfont-163:before {
  content: "\e0c5";
}
.icon-fontawesome-webfont-164:before {
  content: "\e0c6";
}
.icon-fontawesome-webfont-165:before {
  content: "\e0c7";
}
.icon-fontawesome-webfont-166:before {
  content: "\e0c8";
}
.icon-fontawesome-webfont-168:before {
  content: "\e0ca";
}
.icon-fontawesome-webfont-170:before {
  content: "\e0cc";
}
.icon-fontawesome-webfont-171:before {
  content: "\e0cd";
}
.icon-fontawesome-webfont-172:before {
  content: "\e0ce";
}
.icon-fontawesome-webfont-175:before {
  content: "\e0d1";
}
.icon-fontawesome-webfont-176:before {
  content: "\e0d2";
}
.icon-fontawesome-webfont-179:before {
  content: "\e0d5";
}
.icon-fontawesome-webfont-183:before {
  content: "\e0d9";
}
.icon-fontawesome-webfont-185:before {
  content: "\e0db";
}
.icon-fontawesome-webfont-186:before {
  content: "\e0dc";
}
.icon-fontawesome-webfont-187:before {
  content: "\e0dd";
}
.icon-fontawesome-webfont-188:before {
  content: "\e0de";
}
.icon-fontawesome-webfont-189:before {
  content: "\e0df";
}
.icon-fontawesome-webfont-190:before {
  content: "\e0e0";
}
.icon-fontawesome-webfont-191:before {
  content: "\e0e1";
}
.icon-fontawesome-webfont-192:before {
  content: "\e0e2";
}
.icon-fontawesome-webfont-193:before {
  content: "\e0e3";
}
.icon-fontawesome-webfont-194:before {
  content: "\e0e4";
}
.icon-fontawesome-webfont-108:before {
  content: "\e08e";
}
.icon-fontawesome-webfont-195:before {
  content: "\e0e5";
}
.icon-fontawesome-webfont-155:before {
  content: "\e0bd";
}
.icon-fontawesome-webfont-157:before {
  content: "\e0bf";
}
.icon-fontawesome-webfont-158:before {
  content: "\e0c0";
}
.icon-bulb:before {
  content: "\e09b";
}
.icon-paypal:before {
  content: "\e0a7";
}
.icon-paypal-1:before {
  content: "\e0ab";
}
.icon-database:before {
  content: "\e0ac";
}
.icon-database-5:before {
  content: "\e0ae";
}
.icon-database-streamline:before {
  content: "\e0b4";
}
.icon-wordpress-alt:before {
  content: "\e0b7";
}
.icon-wordpress:before {
  content: "\e0b8";
}
.icon-html:before {
  content: "\e0c2";
}
.icon-code:before {
  content: "\e0c9";
}
.icon-fontawesome-webfont-121:before {
  content: "\e0bb";
}
.icon-3-css:before {
  content: "\e0cb";
}
.icon-fontawesome-webfont-133:before {
  content: "\e0cf";
}
.icon-css3:before {
  content: "\e0d0";
}
.icon-social-joomla:before {
  content: "\e0d3";
}
.icon-fontawesome-webfont-137:before {
  content: "\e0d4";
}
.icon-fontawesome-webfont-138:before {
  content: "\e0d7";
}
.icon-picture:before {
  content: "\e0d8";
}
.icon-fontawesome-webfont-140:before {
  content: "\e0d6";
}
.icon-letter:before {
  content: "\e0da";
}
