
#canvas,
#canvas *,
#canvas *:before,
#canvas *:after{
-moz-box-sizing: border-box !important; 
-webkit-box-sizing: border-box !important; 
box-sizing: border-box !important;
}

input::-moz-focus-inner { border:0; padding:0 }

.clearfix:after{ 
content: "\00A0"; 
display: block; 
clear: both; 
visibility: hidden; 
line-height: 0; 
height: 0;
width:0;
font-size: 0px;
}

.clearfix{ 
display: inline-block;
}

html[xmlns] .clearfix { 
display: block;
}

* html .clearfix{ 
height: 1%;
}

.clearfix {
display: block;
zoom: 1; 
}

body #canvas p{
font-size: 14px;
}

body#GuiForm{
background-color: transparent;
margin: 0;
}


/*------------------------ Start Jquery UI ----------------------------------------*/



.ui-spinner.ui-widget{
height: auto !important;
}

.ui-buttonset .ui-button {
margin-right: 0;
float: left;
}

.ui-buttonset.button,
.ui-buttonset.button:hover{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
box-shadow: none;
display: block;
 padding: 0px;
}

.ui-slider.ui-widget{
display: block;
margin: 10px 0 5px;
}

.ui-datepicker {
padding: 1px;
width: 250px;
z-index: 2 !important;
}

.hasDatepicker .ui-widget-header {
    color: inherit;
}

.hasDatepicker .ui-widget-content {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #ddd;
color: #333;
}

.ui-datepicker table {
margin: 0;
}

.ui-datepicker-multi{
width: auto !important;
}

.ui-datepicker-multi .ui-datepicker-group table {
width: 100%;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-timepicker-div .ui-widget-header{
background: none repeat scroll 0 0 #EC6A38;
border-radius: 5px 5px 0 0;
padding: 6px 0;
position: relative;
 height: auto;
}

.ui-datepicker .ui-datepicker-title {
font-size: 14px;
font-weight: 700;
line-height: 26px;
text-align: center;
}

.ui-datepicker .ui-datepicker-prev span {
background: url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI3cHgiIGhlaWdodD0iMTFweCIgdmlld0JveD0iMCAwIDcgMTEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcgMTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGRkZGIiBkPSJNMC40MDYsNC41NTdDMC40MTIsNC41NTEsMC40Miw0LjU1LDAuNDI2LDQuNTQ0DQoJCQljMC4wMDEtMC4wMDEsMC4wMDEtMC4wMDIsMC4wMDItMC4wMDNMNC41OSwwLjQxMWMwLjU0Ny0wLjUzNywxLjQzNC0wLjUzNywxLjk4LDBjMC41NDcsMC41MzcsMC41NDcsMS40MDgsMCwxLjk0NUwzLjM3OSw1LjUyMg0KCQkJbDMuMjEyLDMuMTIzYzAuNTQ3LDAuNTM2LDAuNTQ3LDEuNDA3LDAsMS45NDRzLTEuNDM0LDAuNTM3LTEuOTgsMEwwLjQwNiw2LjUwMkMtMC4xNDEsNS45NjUtMC4xNDEsNS4wOTQsMC40MDYsNC41NTd6Ii8+DQoJPC9nPg0KPC9nPg0KPC9zdmc+DQo=") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.ui-datepicker .ui-datepicker-next {
right: 10px;
}
.ui-datepicker .ui-datepicker-next span {
background: url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI3cHgiIGhlaWdodD0iMTFweCIgdmlld0JveD0iMCAwIDcgMTEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcgMTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGRkZGIiBkPSJNNi41OTIsNC41NTdDNi41ODYsNC41NTEsNi41NzgsNC41NSw2LjU3Miw0LjU0NA0KCQkJQzYuNTcxLDQuNTQzLDYuNTcxLDQuNTQyLDYuNTcsNC41NDJMMi40MDgsMC40MTFjLTAuNTQ3LTAuNTM3LTEuNDMzLTAuNTM3LTEuOTc5LDBjLTAuNTQ3LDAuNTM3LTAuNTQ3LDEuNDA4LDAsMS45NDVsMy4xOSwzLjE2Nw0KCQkJTDAuNDA2LDguNjQ2Yy0wLjU0NiwwLjUzNi0wLjU0NiwxLjQwNywwLDEuOTQ0YzAuNTQ3LDAuNTM3LDEuNDM0LDAuNTM3LDEuOTgsMGw0LjIwNi00LjA4OEM3LjEzOSw1Ljk2NSw3LjEzOSw1LjA5NCw2LjU5Miw0LjU1N3oNCgkJCSIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.ui-datepicker th {
background: none repeat scroll 0 0 #F1F1EF;
border: 0 none;
color: #4F4F4B;
font-size: 11px;
height: 25px;
padding: 0;
text-align: center;
text-transform: capitalize;
}

.ui-datepicker th span {
display: block;
line-height: 20px;
padding-top: 3px;
text-indent: 4px;
width: 35px;
}

.ui-datepicker td {
border: 1px solid #EFF1F2;
vertical-align: top;
}

.ui-datepicker td a.ui-state-default{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 0 none;
color: #504E47;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.ui-datepicker td a.ui-state-default:active,
.ui-datepicker td a.ui-state-active{
background: none repeat scroll 0 0 #00AEEC;
border: 0 none;
color: #FFFFFF;
z-index: 2;
}

.ui-datepicker td.ui-datepicker-today a.ui-state-default{
background-color: rgba(0, 0, 0, 0);
color: #EB581F;
}
.ui-datepicker td.ui-datepicker-today a.ui-state-hover{
box-shadow: 0 0 0 3px #FCF1C7 inset;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{
background: none;
border: none;
cursor: pointer;	
}

.ui-datepicker-nav, .ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
top: 7px;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
top: 4px;
}

.ui-datepicker .ui-datepicker-prev {
left: 3px;
}

.ui-datepicker .ui-datepicker-next {
right: 3px;
}

.ui-datepicker .ui-datepicker-title select,
#canvas .ui-datepicker .ui-datepicker-title select  {
margin-right: 5px;
width: 48%;
font-weight: normal;
height: 22px;
padding: 0;
color: #000000;
}

#canvas .ui-datepicker .ui-datepicker-header  {
min-height: 40px;
}

#canvas .ui-datepicker .ui-datepicker-title select  {
width: 47%;
}

#canvas .ui-datepicker-inline{
	width: 100% !important;
}

.ui-datepicker .ui-datepicker-title select:last-of-type{
margin-right: 0px;
}

.ui-datepicker td span, 
.ui-datepicker td a{
font-size: 13px;
height: 25px;
padding: 3px;
text-align: center;
width: auto;
}

.ui-datepicker .ui-datepicker-buttonpane {
margin: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
font-size: 14px;
}

/*- Start timepicker ----------------------------------------*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; margin: 5px;}

.ui-timepicker-div dl dt { float: left; clear:left; padding: 5px 0 0 5px; font-size: 12px;}
.ui-timepicker-div dl dd { padding: 1px 0; margin: 0 10px 0 35%; font-size: 12px; font-weight: bold;}
.ui-timepicker-div dl dt.ui_tpicker_time_label{padding-top: 1px;}
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }


.ui-datepicker-multi-2 .ui-timepicker-div dl dd{
margin: 0 20px 10px 20%;
}

.ui-datepicker-multi-3 .ui-timepicker-div dl dd{
margin: 0 20px 10px 15%;
}

#canvas .ui-accordion .ui-accordion-header {
padding: 10px 7px 10px 33px;
}

#canvas .ui-accordion-content{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
padding: 15px;
}


/*- Start BootStrap Style ----------------------------------------*/

#canvas .f_submit .hide{
	display: none;
}

#canvas .f_submit .btn,
#canvas .f_page_break .btn {
padding: 8px 18.5px;
}

#canvas .f_submit .col-sm-0{
	display: none;
}

.icon-spin:before,
.form-control-feedback.fa-refresh{
font-family: FontAwesome !important;
}

.icon-spin,
.form-control-feedback.fa-refresh{
animation: 1.5s linear 0s normal none infinite running spin;
-moz-animation : 1.5s linear 0s normal none infinite spin;
-webkit-animation : 1.5s linear 0s normal none infinite spin;
-o-animation : 1.5s linear 0s normal none infinite spin;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#canvas .form-control-feedback {
display: block !important;
line-height: 34px !important;
top: 0 !important;
}

#canvas .f_select .form-control-feedback {
right: 18px;
}

#canvas .f_spinner .form-control-feedback {
right: 27px;
}

/*- END BootStrap Style ----------------------------------------*/


/*- Start switch-button ----------------------------------------*/
.switch-button-label {
float: left;
font-size: 10pt;
cursor: pointer;
margin-top: 5px;
}

.switch-button-label.off {
color: #adadad;
}

.switch-button-label.on {
color: #0088CC;
}

.switch-button-background {
float: left;
position: relative;
background: #ccc;
border: 1px solid #aaa;
margin: 1px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
}

.switch-button-button {
position: absolute;
left: -1px;
top : -1px;
background: #FAFAFA;
border: 1px solid #aaa;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.switch-button-background.checked .switch-button-button{
background: none repeat scroll 0 0 #7AD03A
}

/*------------------------ End Jquery UI ----------------------------------------*/

/*------------------------ Start TINYMCE ----------------------------------------*/
.mce-floatpanel{
	z-index: 999999 !important;
}
/*------------------------ End TINYMCE ----------------------------------------*/


/*------------------------ Start SPECTRUM ----------------------------------------*/
.sp-picker-container{
width: 204px;
}

.sp-button-container{
clear: both;
float: none;
text-align: right;
}

.colorpicker .sp-input-container{
width: 175px;	
}

.sp-input{
width: 100% !important; 
padding: 5px;
}

.sp-input{
background: #FFFFFF; 
padding: 2.5px;
}

#canvas button.sp-choose{
float: none;
padding: 5px 15px !important;
}

.sp-cancel{
margin: 9px 10px;
display: inline-block;
}

.sp-container button{
background-color: #21759B;
background-image: linear-gradient(to bottom, #2A95C5, #21759B);
border-color: #21759B #21759B #1E6A8D;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
cursor: pointer;
padding: 6px 20px;
font-size: 12px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
line-height: 18px;
font-weight: bold;
transition: all 0.3s ease-in-out 0s;
}

.sp-replacer {
padding: 5px;
vertical-align: bottom;
margin-left: -1px;
}

/*------------------------ End SPECTRUM ----------------------------------------*/


#container{
display: inline-table; /*-- do not change this line--*/
}

#canvas{
display: table;  /*-- do not change this line--*/
padding: 5px 0;
}


#canvas .form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}


.wp-admin select {
line-height: 1.42857;
vertical-align: middle;
height: 34px;
padding: 6px 12px;
}

#canvas input[type="file"]{
background-color: #FFFFFF;
height: auto;
}

#canvas .error-message{
background: none repeat scroll 0 0 #E65E5E;
border: 1px solid #FF0000;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 3px #E15353;
clear: both;
color: #FFFFFF;
margin: 3px 0 0;
padding: 3px 5px;
position: relative;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
display: none;
}

#canvas .error-message p{
font-size: 12px;
margin: 0;
}

#canvas .error-message .arrow {
width: 30px;
height: 10px;
overflow: hidden;
position: absolute;
left: 50%;
bottom: -16px;
margin-left: 0;
}

#canvas .error-message .arrow.top {
top: -16px;
bottom: auto;
}
#canvas .error-message .arrow.left {
left: 0%;
top: -10px;
}
#canvas .error-message .arrow:after {
background: none repeat scroll 0 0 #E65E5E;
border: 1px solid #FF0000;
content: "";
position: absolute;
top: -20px;
width: 20px;
left: 10px;
height: 20px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}

#canvas .error-message .arrow.top:after {
bottom: -14px;
top: auto;
z-index: 2;
}

#canvas .error{
border: 1px solid red !important;
}

#canvas .folding .error{
border: medium none !important;
color: #FF0000;
}

#canvas input.error,
#canvas select.error,
#canvas textarea.error,
#canvas .guif-dropzone.error{
border: 1px solid #E15353;
box-shadow: 0 0 3px #E15353;
background: #FFD5D6;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

#canvas p.error{
color: red;
border: none;
padding-top: 5px;
clear: both;
}

#canvas .error .ui-spinner-button{
border-left: 1px solid red;	
}

.ui-buttonset.error .ui-state-default, 
.ui-buttonset.error .ui-widget-content .ui-state-default, 
.ui-buttonset.error .ui-widget-header .ui-state-default{
border: 1px solid #E15353;
box-shadow: 0 0 3px #E15353;	
}

#canvas .ui-spinner.error{
box-shadow: 0 0 3px #E15353;
background: #FFD5D6 	
}

#canvas .ui-buttonset.error,
#canvas .ui-spinner-input.error{
border: none;	
box-shadow: none;
}



/*- IMPORTANT DO NOT REMOVE -------------------*/
#canvas .item{
float: none;
clear: both;
list-style: none outside none;	
cursor: move;
clear: both;
padding-bottom: 5px;
padding-top: 5px;
}

#canvas .item .has-success input[type="text"],
#canvas .item .has-error input[type="text"]{
padding-right: 36px;
}
/*- END IMPORTANT DO NOT REMOVE -------------------*/


#canvas .ui-sortable{
background: none;
border: none;
display: inherit;
list-style: none outside none;
}

#canvas .ui-sortable .ui-sortable{
padding: 0;
min-height: auto;
min-height: auto;
}

#canvas .ui-sortable ul.folding{
display: inline-table;
width: 100%;

}


#canvas .ui-sortable .item.ui-state-highlight{
background: #F8FFF0;
border: 1px dashed green;
color: #363636;
position: relative;
z-index: 0;
padding: 5px 15px;
}


#canvas .ui-sortable .item.hide-label .label{
display: none;
}


/*- Alignment -------------*/
#canvas .item .align-right,
#canvas .item.align-right{
text-align: right;
}

#canvas .item.align-left,
#canvas .item .align-top,
#canvas .item .align-left{
text-align: left;
}

#canvas .item .align-center,
#canvas .item.align-center{
text-align: center;
}

#canvas .item .align-justify,
#canvas .item.align-justify{
text-align: justify;
}


#canvas .selected{
background: #FFFBCC;
width: auto;
}


#canvas .item .label{
display: inline-block;
float: left;
padding-right: 1%;
font-weight: bold;
line-height: 23px;
width: 150px;
font-size: 14px;
}

#canvas .item .label span{
margin-left: 2px;
}

/*-- BEGIN f_list style --*/
#canvas .f_list li{
padding: 3px 0;
}

#canvas .f_list li a{
color:#0074A2;
text-decoration: none;
}

#canvas .f_list li a:hover{
color: blue;
text-decoration: underline;
}

#canvas .f_list ul{
list-style-type: disc;
list-style-position: outside;
padding-left: 35px;
}

#canvas .f_list ul.disc{
list-style-type: disc;
}

#canvas .f_list ul.square{
list-style-type: square;
}

#canvas .f_list ul.circle{
list-style-type: circle;
}

#canvas .f_list ul.decimal{
list-style-type: decimal;
}

#canvas .f_list ul.decimal-leading-zero{
list-style-type: decimal-leading-zero;
}

#canvas .f_list ul.lower-roman{
list-style-type: lower-roman;
}

#canvas .f_list ul.upper-roman{
list-style-type: upper-roman;
}

#canvas .f_list ul.lower-greek{
list-style-type: lower-greek;
}

#canvas .f_list ul.lower-alpha{
list-style-type: lower-alpha;
}

#canvas .f_list ul.upper-alpha{
list-style-type: upper-alpha;
}

#canvas .f_list ul.hiragana{
list-style-type: hiragana;
}

#canvas .f_list ul.katakana{
list-style-type: katakana;
}


#canvas .f_divider hr{
border-top: 2px solid #CCCCCC;
border-bottom: medium none;
}

/*-- END f_list style --*/


#canvas .f_heading h1 { font-size: 36px; margin: 0; padding: 0; line-height: normal; }
#canvas .f_heading h2 { font-size: 30px; margin: 0; padding: 0; line-height: normal; }
#canvas .f_heading h3 { font-size: 24px; margin: 0; padding: 0; line-height: normal; }
#canvas .f_heading h4 { font-size: 18px; margin: 0; padding: 0; line-height: normal; }
#canvas .f_heading h5 { font-size: 14px; margin: 0; padding: 0; line-height: normal; }
#canvas .f_heading h6 { font-size: 12px; margin: 0; padding: 0; line-height: normal; }

 

#canvas .f_paragraph p{
margin: 0 0 13px;
line-height: 20px;
font-size: 14px;
}

#canvas .f_paragraph p:last-of-type{
margin-bottom: 0;
}

#canvas .button-wrap{
	text-align: right;
}

/*-- BEGIN f_radio_wrap f_checkbox_wrap style --*/
#canvas .wrap{
margin: 0;
}

#canvas .f_checkbox .col,
#canvas .f_radio .col{
padding-left: 0;
}


#canvas .f_checkbox .col:last-child,
#canvas .f_radio .col:last-child{
padding-right: 0;
}

#canvas .f_checkbox .wrap label,
#canvas .f_radio .wrap label{
font-size:	14px;
padding-left: 0 0 0 20px;
}

#canvas .f_checkbox input,
#canvas .f_radio input{
margin-top: 3px;
}


/*-- END f_radio_wrap f_checkbox_wrap style --*/

/*-- BEGIN f_folding style --*/

#canvas .f_folding h1{
font-size: 18px;
padding: 10px 5px;
}

#canvas .f_folding span{
display: inline-block;
margin: 0 10px 0 0;
}

#canvas .item.f_folding{
padding: 5px 0;
}

/*-- END f_folding style --*/

/*-- BEGIN f_text_captcha style --*/

#canvas .f_text_captcha .input-group-addon{
padding: 0px;
line-height: 0;
}

#canvas .f_text_captcha .input-group-addon img{
height: 32px;
width: 88px;
}


/*-- END f_text_captcha style --*/


/*-- BEGIN Grid System Style --*/
#canvas .item,
#canvas .item .grid-sortable{
border: 1px dashed transparent;
}

#canvas .item .grid-sortable .item{
padding-right: 0px;
padding-left: 0px;
}


#canvas .item.active,
#canvas .item.active .grid-sortable{
border: 1px dashed;
}

#canvas .f_grid_system{
padding-left: 0;
padding-right: 0;
}

#canvas .f_grid_system > .wrap,
#canvas .f_grid_system .col{
padding: 0;
}

#canvas .f_grid_system .col{
padding: 0;
}
/*-- END Grid System Style --*/

/*-- BEGIN Panel Style --*/

#canvas .f_panel .panel,
#canvas .f_panel .panel h3{
margin: 0px;
line-height: normal;
}


/*-- END Panel Style --*/

#canvas .shrink .wrap .button label {
display: inline-block;
margin-left: 0;
}

#canvas .item .required{
color: #FF0000;
font-size: 13px;
margin-left: 5px;
vertical-align: top;
}


#canvas .f_color_picker input[type="text"]{
display: inline-block !important;
width: 154px;
}

#canvas .f_color_picker .sp-container.colorpicker{
position: inherit !important;
}

#canvas input:focus,
#canvas select:focus,
#canvas textarea:focus{
border: 1px solid #000000;
color: #000000;
}


/*-- BEGIN f_button --*/
#canvas .f_button .ui-button-text{
line-height: normal;
font-weight: normal;
font-size: 14px;
}

#canvas .f_button .ui-button{
padding: 2px;
}

#canvas .f_button .ui-button-text .fa{
line-height: normal;
font-size: 18px;
}

#canvas .f_button .ui-buttonset{
height: auto;
margin-right: 0px;
}

/*-- EDN f_button --*/


/*-- BEGIN f_spinner --*/
#canvas .f_spinner input:focus{
border: none;
}

#canvas .f_spinner .ui-spinner-input{
max-width: 85%;
padding: 3px;
margin: 0.2em 22px 0.2em 0.4em;
}

#canvas .f_spinner .col-sm-2 .ui-spinner-input{
max-width: 58%;
}

#canvas .f_spinner .col-sm-3 .ui-spinner-input{
max-width: 67%;
}

#canvas .f_spinner .col-sm-4 .ui-spinner-input{
max-width: 76%;
}

#canvas .f_spinner .col-sm-5 .ui-spinner-input{
max-width: 83%;
}

#canvas .f_spinner .col-sm-6 .ui-spinner-input{
max-width: 86%;
}

#canvas .f_spinner .ui-widget-content{
max-width: 100%;
}

/*-- End f_spinner --*/

#canvas .f_select option{
padding: 4px 15px;
}


/*-- BEGIN f_file --*/


#canvas .f_file .btn-file {
position: relative;
overflow: hidden;
}

#canvas .f_file .btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

#canvas .f_file .form-control[type=text] {
background-color: #FFFFFF;
}

#canvas .f_file .form-control{
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-bottom-right-radius: 4px;
-moz-border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-top-right-radius: 4px;
}

#canvas .guif-dropzone{
background-color: #E47E25;
background: linear-gradient(to top, #E47E25 0%, #DD5725 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #854E03;
color: #FFFFFF;
position: relative;
text-align: center;
font-weight: bold;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
overflow: hidden;
padding: 7px 10px;
line-height: normal;
}

#canvas .guif-dropzone.drop{
background-color: #FAA732;
background: linear-gradient(to top, #FAA732, #E08305) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #D58512;
}

#canvas .guif-dropzone:hover{
background-color: #BCBA35;
background: linear-gradient(to top, #BCBA35, #999620) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #D58512;
cursor: pointer;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
}

#canvas .guif-dropzone input[type="file"]{
position: absolute;
top: 0;
right: 0;
opacity: 0;
filter: alpha(opacity=0);
font-size: 160px;
width: 250%;
}

#canvas .f_file .gui-files{
clear: both;
display: inline-block;
width: 100%;
}

#canvas .f_file .gui-file{
border-radius: 3px 3px 3px 3px;
position: relative;
border: 1px solid #4CAE4C;
overflow: hidden;
margin-top: 10px;
}

#canvas .f_file .gui-file:hover{
color: #333333;	
border: 1px solid red;
}

#canvas .f_file .gui-file-remove{
color: #FF0000;
display: none;
font-size: 22px !important;
padding: 2px 15px !important;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
}

#canvas .f_file .gui-file:hover .gui-file-remove{
background-color: #FF0000;
bottom: 0;
color: #FFFFFF;
display: inline-block;
font-size: 16px;
font-weight: bold;
padding: 2px 10px;
position: absolute;
right: 0;
top: -3px;
cursor: pointer;
}

#canvas .f_file .gui-file:hover .gui-file-remove.cancel{
font-size: 14px;	
}

#canvas .f_file .gui-file-bar{
border-radius: 3px 3px 3px 3px;
bottom: 0;
left: 0;
position: absolute;
background: none repeat scroll 0 0 #5CB85C;
background: linear-gradient(center top, #5CB85C, #008000) repeat scroll 0 0 #5CB85C;
top: 0;
}

#canvas .f_file .gui-file-bar.success{
width: 100% !important;
background: none repeat scroll 0 0 #00BF00;
background: linear-gradient(center top, #00BF00, #008000) repeat scroll 0 0 #00BF00;
}

#canvas .f_file .gui-file-bar.error{
width: 0%;
}

#canvas .f_file .gui-file-wrap{	
background: none repeat scroll 0 0 #E65E5E;
border-radius: 3px;
padding: 7px;
}

#canvas .f_file .gui-file-name{
float: left;
max-width: 60%;
overflow: hidden;
position: relative;
text-overflow: ellipsis;
}

#canvas .f_file .gui-file-size,
#canvas .f_file .gui-file-error{
float: right;
position: relative;
}

/*-- END f_file style --*/

/*-- START f_slider style --*/
#canvas .f_slider input{
color: #F6931F;
font-weight: bold;
text-align: right;
padding: 0 10px;
border: none;
background: transparent;
}

#canvas .f_slider .slider-text{
font-size: 11px;
letter-spacing: normal;	
}

#canvas .f_slider strong{
color: #FF8000;
}



/*-- BEGIN f_page_break style --*/

#canvas .page-content{
display: none;
}

#canvas .page-content.page-active{
display: block;
}

#canvas .page-content .f_page_break{
padding-right: 0px;
padding-left: 0px;
}

#canvas .form-group .page-next{
float: right;
}

#canvas .page-content.page-active:first-child > .f_page_break .page-back{
display: none;
}

#canvas .page-content:last-of-type > .f_page_break .page-next{
display: none;
}

/*-- END f_page_break style --*/


/*-- END f_slider style --*/


/*-- BEGIN f_password style --*/
#canvas select,
#canvas input[type="password"]{
width: 100%;
}

#canvas .guif-password{
font-size: 13px;
margin-top: 5px;
}

#canvas .guif-password span{
display: inline !important;
font-weight: bold;
}

#canvas .guif-password .progress{
background-color: #CCCCCC;
height: 6px;
margin-top: 2px;
overflow: hidden;
}

#canvas .guif-password .strength{
height: 10px;
width: 0;
}

#canvas .guif-password span:first-child{
color: #0066FF;
float: left;
text-decoration: underline;
}

#canvas .guif-password span.text{
float: right;
color: #555555;
}

#canvas .guif-password .progress span{
float: none;
clear: both;
}
/*-- end f_password style --*/

/*-- BEGIN f_alert style --*/

#canvas .f_alert .alert{
	margin: 0;	
}

/*-- End f_alert style --*/


/*-- BEGIN f_callout style --*/

#canvas .callout {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #eee;
border-image: none;
border-radius: 3px;
border-style: solid;
border-width: 1px 1px 1px 5px;
padding: 20px;
}

#canvas .callout h4 {
margin-bottom: 5px;
margin-top: 0;
font-size: 18px;
line-height: normal;
}

#canvas .callout p {
margin-bottom: 5px;
margin-top: 0;
}

#canvas .callout p:last-child {
margin-bottom: 0;
}
#canvas .callout code {
border-radius: 3px;
}
#canvas .callout + .callout {
margin-top: -5px;
}
#canvas .callout-success {
border-left-color: #d9534f;
}
#canvas .callout-success h4 {
color: #d9534f;
}
#canvas .callout-danger {
border-left-color: #d9534f;
}
#canvas .callout-danger h4 {
color: #d9534f;
}
#canvas .callout-warning {
border-left-color: #f0ad4e;
}
#canvas .callout-warning h4 {
color: #f0ad4e;
}
#canvas .callout-info {
border-left-color: #5bc0de;
}
#canvas .callout-info h4 {
color: #5bc0de;
}
#canvas .callout-success {
border-left-color: #3c763d;
}
#canvas .callout-success h4 {
color: #3c763d;
}
/*-- End f_callout style --*/



/*-- BEGIN f_image style --*/


#canvas .f_image .thumbnail{
	margin: 0;
}


#canvas .f_image .thumbnail h3{
 font-size: 24px;
}

#canvas .f_image .caption h1, 
#canvas .f_image .caption h2, 
#canvas .f_image .caption h3 {
margin: 10px 0;
}

#canvas .f_image .caption h1{
  font-size: 36px;
}
#canvas .f_image .caption h2{
  font-size: 30px;
}
#canvas .f_image .caption h3{
  font-size: 24px;
}

/*-- END f_image style --*/

#canvas .ui-datepicker-buttonpane button{
margin: 5px;
}

#canvas .ui_tpicker_timezone select{
padding: 1px;
}

#canvas button{
padding: 8px 18.5px;
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#canvas button{
		padding: 8px 21.5px;
	}
}

/* Opera */
doesnotexist:-o-prefocus, #canvas button{
padding: 8px 22.5px;
}

#canvas .control-label{
font-weight: normal;
color: #333;
padding-bottom: 0;
margin-bottom: 5px;
}

#canvas .control-label.font-bold,
#canvas .f_panel .font-bold{
font-weight: bold;
}

#canvas  .control-label.font-italic,
#canvas  .f_panel .font-italic{
font-style: italic;
}

#canvas .control-label.display-none{
display: none;
}

#canvas .display-invisible{
visibility: hidden;
}

textarea{
resize: vertical;
}

#canvas textarea{
position: relative;
z-index: 0;
height: 150px;
overflow: auto;
min-height: 100px;
}

#canvas .f_paragraph .wrap,
#canvas .f_heading .wrap,
#canvas .f_list .wrap{
display: block !important;
float: none !important;
}

#canvas .short-description{
font-family: "Open Sans";
font-size: 12px;
letter-spacing: 1px;
margin-top: 5px;
}

#canvas .ui-spinner-input{
border: medium none;
padding: 3px 20px 3px 3px;
background-color: #FFFFFF;
}
/*------------------------ End canvas ----------------------------------------*/


/*------------------------ Start Bootstrap Canvas ----------------------------------------*/

#canvas .col-sm-12{
padding-right: 0;
padding-left: 0;
}


#canvas .f_radio .wrap .form-control-feedback,
#canvas .f_checkbox .wrap .form-control-feedback{
right: 0px;
}

#canvas .form-group {
margin-bottom: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}

.col-xs-15 {
width: 20%;
float: left;
}

@media (min-width: 360px) {
	.col-md-15 {
      width: 20%;	
      float: left;
  }
}

@media (min-width: 360px) and (max-width: 1200px) {
	.col-md-15 {
      width: 20%;
      float: left;
  }
  
  .col-md-15 .control-label,
  .col-md-15 .wrap{
  	width: 100%;
  } 
}


#canvas .input-group .form-control{
	z-index: 0;
}

#canvas .btn-primary:hover,
#canvas .btn-primary:focus,
#canvas .btn-primary.active{
color: #fff;
background: #3071a9;
}

#canvas .btn-warning:hover,
#canvas .btn-warning:focus,
#canvas .btn-warning:active{
color: #fff;
background: #ec971f;
}

#canvas .btn-info:hover,
#canvas .btn-info:focus,
#canvas .btn-info:active{
color: #fff;
background: #31b0d5;
}

#canvas .btn-default:hover,
#canvas .btn-default:focus,
#canvas .btn-default:active{
color: #333;
background: #adadad;
}

/*------------------------ End Bootstrap Canvas ----------------------------------------*/



/*------------------------ Start frontend css ----------------------------------------*/

form.GuiForm .item.none{
	display: none;
}

form.GuiForm .item.hidden{
	visibility: hidden;
}

/*------------------------ End frontend css ----------------------------------------*/


#containment{
margin: 0px;
padding: 10px;
border: medium none;
}

#canvas{
height: auto !important;
margin: auto;
width: 100%;
}

#canvas #sortable{
margin: 0px !important;
padding: 0px !important;
list-style: none outside none;
}

#canvas .item{
cursor: inherit;
}

#canvas .item:hover{
cursor: inherit;
}


/*-Start Animate CSS------------------------------------*/

.gui-file.selected{
opacity: 0;	
color: #333333;
background-color: #3A87AD !important;
}

.gui-file.restored-item {
color: #FFFFFF;
text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-webkit-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-moz-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
-o-animation: openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes restored-item-animation {
  from {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
 
  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}


.gui-file.removed-item {
animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
 
  to {
    opacity: 0;
    transform: scale(0);
  }
}
 


@import "print.css";  