
/* 240 x 320 (small phone) */
@media all and (max-width: 320px){
	
  #GuiForm #canvas{
		width: 100% !important;
	}
	
	#GuiForm h1{
		font-size: 21px;
	}
	
	#canvas .floatLine,
	#GuiForm textarea,
	#GuiForm input[type="text"],
	#GuiForm input[type="password"],
	#GuiForm input[type="file"],
	#GuiForm select,
	#GuiForm .wrap,
	#GuiForm .label,
	#canvas .f_radio_wrap label, 
	#canvas .f_checkbox_wrap label,
	#GuiForm .item.f_image,
	#GuiForm .item.f_textarea,
	#GuiForm .item.f_image img{
		width: 100% !important;
		display: block;
	}
	
	#GuiForm .f_color_picker input[type="text"]{
		width: 60% !important;
	}
	
	#GuiForm .f_image_captcha input[type="text"]{
		width: 120px !important;
	}
	
	#canvas br{
	display: none;
	}
	
	#canvas .f_radio_wrap span, 
	#canvas .f_checkbox_wrap span{
		width: 86% !important;
	}
	
	#GuiForm .merge .item{
		margin-left: 0;
	}
	
	#canvas .error-message{
		width: 100% !important;
	}
}

/* 320 x 480 (iPhone) */
/* 480 x 640 (small tablet) */
@media all and (min-width: 320px) and (max-width: 720px){
	
  #GuiForm #canvas{
		width: 100% !important;
	}
	
	#GuiForm h1{
		font-size: 21px;
	}
	
	/* blockLine element */
	#GuiForm .item.f_letter div.wrap,
	#GuiForm .item.f_submit div.wrap,
	#canvas .item.f_list div.wrap,
	#canvas .f_radio_wrap label, 
	#canvas .f_checkbox_wrap label,
	#canvas .f_radio.blockLine.shrink .f_checkbox_wrap, 
	#canvas .f_checkbox.blockLine.shrink .f_checkbox_wrap{
		width: 100% !important;
	}
	
	#GuiForm .item.blockLine .label{
		width: 35% !important;
	}
	
	#GuiForm .item.blockLine .wrap{
		width: 64% !important;
	}
	
	#GuiForm .item.blockLine.hide-label .wrap{
		width: 100% !important;
	}
	
	/* floatLine element */
	#GuiForm .item.floatLine{
		width: 50% !important;
	}
	
	
	#GuiForm .item.floatLine input[type="text"],
	#GuiForm .item.floatLine input[type="file"],
	#GuiForm .item.floatLine input[type="password"],
	#GuiForm .item.floatLine select,
	#GuiForm .item.f_image,
	#GuiForm .item.f_image img{
		width: 100% !important;
	}
	
	#GuiForm .item.floatLine.f_color_picker input[type="text"]{
		width: 60% !important;
	}
	
	#GuiForm .item.floatLine.f_image_captcha input[type="text"]{
		width: 120px !important;
	}
	
	#GuiForm .item.floatLine .label,
	#GuiForm .item.floatLine .wrap,
	#GuiForm .item.f_heading .wrap{
		width: 100% !important;
	}
	
	#GuiForm .merge .item{
		margin-left: 0;
	}
	
	#GuiForm .wrap{
		width: 50% !important;
	}
	
	#canvas .f_radio.floatLine.shrink span, 
	#canvas .f_checkbox.floatLine.shrink span{
		width: 84% !important;
	}
	
	#canvas .f_radio.blockLine.shrink span, 
	#canvas .f_checkbox.blockLine.shrink span{
		width: 92% !important;
	}
	
	#canvas .error-message{
		width: 100% !important;
	}
}

@media all and (max-width: 400px){
	#GuiForm #canvas .floatLine.f_list,
	#GuiForm #canvas .floatLine.f_list .wrap{
		width: 100% !important;
		display: block !important;
	}
}

#canvas .f_submit_wrap span{
margin: 0 !important;
}


/*- Callendar Style ---------------------------------*/

@media all and (min-width: 320px) and (max-width: 720px){
	
	#GuiForm .item.datepicker-multi label,
	#GuiForm .item.datepicker-multi .wrap{
		width: 100% !important;
		display: block;
	}
	
	#GuiForm .item.datepicker-multi.multi-3 select{
		display: none;
	}
	
	#GuiForm .item.datepicker-multi th span {
    width: auto;
	}
}

@media all and (min-width: 460px) and (max-width: 720px){
	
	#GuiForm .item.datepicker-multi.multi-3 select{
		display: none;
	}
}

@media all and (min-width: 240px) and (max-width: 510px){
	
	#GuiForm .item.datepicker-multi.multi-3 select,
	#GuiForm .item.datepicker-multi.multi-2 select{
		display: none;
	}
	
	.datepicker-multi .ui-timepicker-div dl dd {
    margin: 0 20px 10px 30%;
	}
}

@media all and (min-width: 240px) and (max-width: 450px){
	
	#canvas .item.f_radio_wrap label, 
	#canvas .item.f_checkbox_wrap label{
		width: 100% !important;
		display: inline-block !important;
	}
	
	#canvas .item.f_checkbox_wrap label span{
		width: 92% !important;
	}
	
	#canvas .item.f_datetime_picker .wrap{
		width: 100% !important;
	}
}

@media all and (min-width: 240px) and (max-width: 720px){
	
	#GuiForm #canvas .item.f_image_captcha .wrap{
		width: 120px !important;
	}
}